In [2]:
import pandas as pd
import numpy as np

In [60]:
'''To Merge all the CSV files into one'''

# import os

# # Set the path to your folder
# folder_path = "../../data/combined"

# # Get a list of all CSV files in the folder
# csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# # Initialize an empty DataFrame to store the combined data
# combined_data = pd.DataFrame()

# # Loop through each CSV file and concatenate its data to the combined_data DataFrame
# for file in csv_files:
#     file_path = os.path.join(folder_path, file)
#     df = pd.read_csv(file_path)
#     combined_data = pd.concat([combined_data, df], ignore_index=True)

# # Save the combined data to a new CSV file
# combined_file_path = os.path.join(folder_path, 'combined_data.csv')
# combined_data.to_csv(combined_file_path, index=False)

In [49]:
df = pd.read_csv("../../data/combined/combined_walking.csv", )
df

,Time,Device name设备名称,Acceleration X(g),Acceleration Y(g),Acceleration Z(g),Angular velocity X(°/s),Angular velocity Y(°/s),Angular velocity Z(°/s),Angle X(°),Angle Y(°),Angle Z(°),Temperature(℃)
0,COM6,-0.585,-0.112,-0.457,-6.531,-37.354,-18.005,162.867,30.026,-164.471,44.38,NaN
1,COM6,-0.176,-0.112,-0.457,-6.531,-37.354,-18.005,162.823,30.432,-164.410,44.38,NaN
2,COM6,-0.176,-0.033,-0.381,14.526,-21.118,-3.418,162.872,30.745,-164.399,44.38,NaN
3,COM6,-0.178,-0.033,-0.381,14.526,-21.118,-3.418,163.004,30.954,-164.443,44.38,NaN
4,COM6,-0.178,0.217,-0.300,16.663,33.386,0.183,163.185,30.899,-164.416,44.39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
33064,COM6,-0.460,0.012,-0.893,1.526,2.686,6.653,-179.594,25.598,-0.687,44.18,NaN
33065,COM6,-0.464,0.012,-0.893,1.526,2.686,6.653,-179.599,25.576,-0.758,44.18,NaN
33066,COM6,-0.464,0.010,-0.889,-1.526,0.366,3.845,-179.615,25.565,-0.813,44.18,NaN
33067,COM6,-0.450,0.010,-0.889,-1.526,0.366,3.845,-179.643,25.565,-0.851,44.18,NaN
33068,COM6,-0.450,0.010,-0.890,1.038,0.854,1.831,-179.654,25.565,-0.879,44.18,NaN

In [50]:
df.columns

Index(['Time', 'Device name设备名称', 'Acceleration X(g)', 'Acceleration Y(g)',
       'Acceleration Z(g)', 'Angular velocity X(°/s)',
       'Angular velocity Y(°/s)', 'Angular velocity Z(°/s)', 'Angle X(°)',
       'Angle Y(°)', 'Angle Z(°)', 'Temperature(℃)'],
      dtype='object')

In [51]:
# For txt files
# df = df.rename(columns={"Record": "record", "Time:": "time", "ax：": "ax",
#                         "ay：": "ay", "az：": "az", "wx：": "wx", "wy：": "wy", "wz：": "wz", "AngleX：": "AngleX", "AngleY：": "AngleY", "AngleZ：": "AngleZ"})

# For csv files
df = df.rename(columns={"Time": "time", "Device name设备名称": "device_name", "Acceleration X(g)": "ax",
                        "Acceleration Y(g)": "ay", "Acceleration Z(g)": "az", "Angular velocity X(°/s)": "wx", "Angular velocity Y(°/s)": "wy", "Angular velocity Z(°/s)": "wz", "Angle X(°)": "AngleX", "Angle Y(°)": "AngleY", "Angle Z(°)": "AngleZ", "Temperature(℃)": "temperature"})

In [52]:
df.columns

Index(['time', 'device_name', 'ax', 'ay', 'az', 'wx', 'wy', 'wz', 'AngleX',
       'AngleY', 'AngleZ', 'temperature'],
      dtype='object')

In [53]:
# For CSV file
df = df.rename(columns={"device_name": "ax", "ax": "ay", "ay": "az", "az": "wx", "wx": "wy",
               "wy": "wz", "wz": "AngleX", "AngleX": "AngleY", "AngleY": "AngleZ", "AngleZ": "temperature"})

In [54]:
df.head()

,time,ax,ay,az,wx,wy,wz,AngleX,AngleY,AngleZ,temperature,temperature
0,COM6,-0.585,-0.112,-0.457,-6.531,-37.354,-18.005,162.867,30.026,-164.471,44.38,NaN
1,COM6,-0.176,-0.112,-0.457,-6.531,-37.354,-18.005,162.823,30.432,-164.410,44.38,NaN
2,COM6,-0.176,-0.033,-0.381,14.526,-21.118,-3.418,162.872,30.745,-164.399,44.38,NaN
3,COM6,-0.178,-0.033,-0.381,14.526,-21.118,-3.418,163.004,30.954,-164.443,44.38,NaN
4,COM6,-0.178,0.217,-0.300,16.663,33.386,0.183,163.185,30.899,-164.416,44.39,NaN

In [55]:
# df = df.drop(["Unnamed: 11"], axis=1)
# df = df.drop(['record', "time"], axis=1)
df = df[['ax', 'ay', 'az', 'wx', 'wy', 'wz', 'AngleX', 'AngleY', 'AngleZ']]
df.head()

      ax     ay     az      wx      wy      wz   AngleX  AngleY   AngleZ
0 -0.585 -0.112 -0.457  -6.531 -37.354 -18.005  162.867  30.026 -164.471
1 -0.176 -0.112 -0.457  -6.531 -37.354 -18.005  162.823  30.432 -164.410
2 -0.176 -0.033 -0.381  14.526 -21.118  -3.418  162.872  30.745 -164.399
3 -0.178 -0.033 -0.381  14.526 -21.118  -3.418  163.004  30.954 -164.443
4 -0.178  0.217 -0.300  16.663  33.386   0.183  163.185  30.899 -164.416

In [58]:
df['label'] = 'walking'
df.sample(30)

,ax,ay,az,wx,wy,wz,AngleX,AngleY,AngleZ,label
21745,-0.332,-0.310,-1.045,32.471,34.058,-52.124,166.229,17.023,-31.240,walking
18008,-0.540,-0.040,-0.824,-59.448,61.829,-146.851,-174.446,15.419,176.501,walking
3441,-0.415,0.460,-0.521,-11.230,-6.958,-25.574,161.411,36.085,-131.331,walking
22001,-0.769,-0.122,-1.437,9.766,73.059,-15.503,171.491,21.693,-72.405,walking
6210,-0.123,-0.106,-0.878,12.878,-41.565,-0.671,170.189,6.866,170.766,walking
1711,-0.818,0.191,-0.635,91.492,1.587,43.335,167.624,43.281,8.130,walking
18321,-0.002,0.221,-0.829,-103.210,-91.370,-25.024,160.087,11.915,-129.556,walking
24487,0.088,-0.078,-0.860,-29.358,-62.012,-47.424,171.568,18.660,-22.736,walking
25790,0.451,0.157,-0.938,6.042,87.524,-66.040,172.831,-21.143,156.292,walking
24079,-0.302,0.105,-0.672,-5.310,-17.822,-18.250,175.226,12.645,27.109,walking
14597,-0.299,0.379,-1.051,-37.598,-12.024,-127.380,162.532,22.923,-26.818,walking
19538,-1.021,0.215,-1.840,-24.597,17.944,-186.890,166.009,19.764,44.599,walking
5134,-0.159,0.090,-0.951,-57.251,167.480,-33.081,175.886,5.466,30.701,walking
1173,-0.088,0.261,-1.052,-37.964,-19.104,8.179,179.923,-12.332,28.987,walking
27685,0.217,0.374,-1.411,-26.550,-98.022,24.353,178.830,4.169,-15.183,walking
552,-0.206,0.071,-1.401,69.153,8.606,142.151,-178.401,15.298,-99.053,walking
14410,-0.084,0.112,-0.989,-38.818,-37.292,-44.739,172.744,4.872,-116.889,walking
23579,0.798,0.306,-0.652,-35.828,51.086,42.786,174.144,-50.460,45.560,walking
30884,-0.395,0.279,-0.854,-28.687,50.415,-127.075,156.033,26.790,58.651,walking
23800,0.104,0.036,-1.233,-113.770,-39.307,24.048,173.958,-30.108,66.544,walking
16075,0.424,0.080,-0.857,-46.509,113.403,15.930,167.953,-22.154,-128.985,walking
6020,-0.104,0.403,-1.373,-38.513,110.535,-43.518,171.387,1.274,148.431,walking
23295,-0.461,0.258,-0.708,41.809,-40.405,17.456,162.488,33.118,106.452,walking
339,0.054,0.518,-0.726,43.640,-59.692,3.052,167.888,13.524,-158.379,walking
14927,-0.516,0.107,-0.638,-6.653,-66.589,-24.841,173.139,42.396,-178.264,walking
23485,-0.122,0.005,-1.020,-18.433,-8.728,16.541,174.518,-0.780,78.382,walking
22146,-0.455,0.143,-1.090,80.444,-23.193,-50.171,168.052,17.875,-99.146,walking
11610,0.805,0.136,-0.654,15.930,-5.859,-12.146,169.926,-49.883,-86.929,walking
17428,-0.500,0.316,-1.274,-5.005,-149.841,-117.188,-174.276,17.886,108.111,walking
24795,0.401,0.310,-0.834,-44.373,6.165,7.751,167.047,-36.277,-76.844,walking

In [59]:
# make csv from df
df.to_csv('walking.csv', index=False)